{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// <uniquifier>: Use a unique and descriptive class name

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
    font-family: 'Outfit', sans-serif; /* Use a segunda fonte escolhida para o corpo do texto */
}
h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif; /* Use a primeira fonte escolhida para os títulos */
    font-weight: 700; /* Defina a espessura da fonte como 600 (bold) */
}