/*

Paleta de cores:
--text: #f2eeee;
--background: #0f0807;
--primary: #e1a39c;
--secondary: #8d2316;
--accent: #f7432d;

*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}


header {
    background-color: #8d2316;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: #A73121;
    padding: 10px 20px;
    border-radius: 30px;
}

section{
    background-color: #fff;
}

section#destaque {
    text-align: center;
    padding: 50px 20px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f7432d;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #A73121;
}

footer {
    background-color: #8d2316;
    color: white;
    text-align: center;
    padding: 20px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.menu{
    margin: 10%;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    
    .carousel img {
        height: 150px;
    }

    .btn {
        width: 100%;
    }
}
