.carousel {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 20px 0;
}

.carousel img {
    height: 200px;
    flex-shrink: 0;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.carousel img:hover {
    transform: scale(1.1);
}

.carousel img:last-child {
    margin-right: 0;
}


#menu {
    padding: 50px 20px;
    text-align: center;
}

#menu h2 {
    margin-bottom: 40px;
}

.prato {
    display: inline-block;
    width: 200px;
    margin: 20px;
    text-align: center;
}

.prato img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.prato h3 {
    margin: 10px 0;
}

.prato p {
    font-size: 14px;
    color: #555;
}

#landing {
    background-image: url('../assets/images/landing.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-content {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 50px;
    border-radius: 10px;
    max-width: 80%;
    color: #fff;
}

#landing h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
}

#landing p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

section#sobre {
    padding: 50px 10%;
    background-color: #1E1E1E;
    text-align: center;
    color: #fff;
}

section#localizacao {
    padding: 50px 20px;
    background-color: #2E2E2E;
    text-align: center;
    color: #fff;
}

section#localizacao #map {
    height: 400px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}