body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #952323;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#reservas {
    margin: 20px auto;
    padding: 20px;
}

#reservas h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #AAAAAA; /* Cor inicial do botão */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: not-allowed;
}

form:valid button {
    background-color: #4CAF50; /* Cor quando habilitado */
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #952323;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
